.profile {
  padding-top: 60px;
  height: 400px;
  width: 100%;
  background-color: cornflowerblue;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-picture{
  padding-top: 1em;
  margin-bottom: none;
  height: 50%;
}

.profile-name {
  color: white;
  padding-top: 60px;
  white-space: normal;
}