nav {
  background-color: #4056A1;
  color: #FFFFFF;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  align-content: stretch;
}

 .logo {
  font-family: 'Bungee', cursive;
  padding-left: 1.5em;
}

.new {
  display: flex;
  padding: 1.5em;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  nav {
    background: transparent;
  }
}