nav {
  background-color: #4056A1;
  color: #FFFFFF;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  align-content: stretch;
}

 .logo {
  font-family: 'Bungee', cursive;
  margin: 1.5em;
}

.new {
  margin: 1.5em;
  display: flex;
  padding: 1em;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}